* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Añadir esto para evitar problemas de margen/padding */
}

body {
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
}

/**********************Header**********************/

.header {
    background-color: blueviolet;
    padding: 10px 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
}

.titulo {
    margin: 0;
    color: white;
}

.search-cart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px 0 0 10px;
}

#search-button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 10px 10px 0;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}

#results-container {
    margin-top: 20px;
    text-align: center;
}

/**********************Main Container**********************/

.main-container {
    display: flex;
    margin-top: 0px; /* Ajustar para evitar la superposición con el header */
}

/**********************Menu Lateral**********************/

.sidebar {
    background-color: rgb(80, 24, 133);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    width: 200px;
    color: white;
    padding: 15px;
    height: calc(100vh - 60px); /* Ajustar la altura para evitar la superposición con el header */
    position: fixed;
    top: 100px; /* Ajustar para evitar la superposición con el header */
    left: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #007bff;
}

/**********************Items**********************/

.contenedor-items {
    margin-left: 250px;
    padding: 50px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: calc(100% - 250px);

}

.item {
    background-color: white;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.item figure {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.item figure img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    transform: scale(1.1);
    transition: all .3s
}

.info-producto {
    padding: 15px ;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-producto button {
    border: none;
    background: none;
    background-color: #000;
    color: white;
    padding: 15px 10px;
    cursor: pointer;
}

.info-producto button:hover {
    background-color: #333;
    transition: all .3s;
    font-size: medium ;
}

@media (max-width: 768px) {
    .contenedor-items {
        margin-left: 0;
        padding: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    .sidebar {
        width: 100%;
        position: relative;
        height: auto;
        top: 0;
    }
}

@media (max-width: 480px) {
    .contenedor-items {
        grid-template-columns: 1fr;
    }
}
